$base-color: #3385FF !default;
$base-font-color: #FFFFFF !default;

// 
$base-light-color: #F0F6FF !default;
$base-light-font-color: #3385FF !default;

// 
$base-dark-color: #2D77E5 !default;
$base-dark-font-color: #FFFFFF !default;

// 
$query-color: #FFFFFF !default;
$query-font-color: #666666 !default;
$query-border-color: #DDDDDD !default;
$query-border-active-color: #3385FF !default;


$table-height: 1.5em;

$font-mini: 12px;
$font-small: 14px;
$font-normal: 16px;