$base-color: #3385FF !default;
$base-font-color: #FFFFFF !default;

// 
$base-light-color: #F0F6FF !default;
$base-light-font-color: #3385FF !default;

// 
$base-dark-color: #2D77E5 !default;
$base-dark-font-color: #FFFFFF !default;